.piano {
  display: flex;
  position: relative;
  height: 200px;
  background: #222;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.5);
  user-select: none;
    user-select: none;
  -webkit-user-drag: element; /* el contenedor es draggeable */
}

/* Todas las teclas */
.piano-key {
  position: relative;
  border: 1px solid #000;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 12px;
  box-sizing: border-box;
    -webkit-user-drag: none; /* 👈 las teclas no disparan drag */
  user-select: none;
  cursor: pointer;
}

.piano-key.white {
  background: linear-gradient(to bottom, #fff, #ddd);
  width: 50px;
  height: 100%;
  z-index: 1;
}

.piano-key.black {
  background: linear-gradient(to bottom, #333, #000);
  width: 30px;
  height: 60%;
  position: absolute;
  z-index: 2;
  border-radius: 0 0 3px 3px;
}

/* Posiciones fijas para cada tecla negra */
.piano-key.black.Csharp { left: 31px; }
.piano-key.black.Dsharp { left: 81px; }
.piano-key.black.Fsharp { left: 180px; }
.piano-key.black.Gsharp { left: 231px; }
.piano-key.black.Asharp { left: 280px; }

.note-label {
  opacity: 0.4;
  margin-bottom: 5px;
  user-select: none;
  pointer-events: none; /* evita selección accidental */
}
